@charset "utf-8";
/* CSS Document */

.feedbacknr{
	background-color:#ffffff;border:1px solid #b5b5b5;-moz-border-radius:5px;-webkit-border-radius:5px;width:642px; height:210px; float:left;
	}
.feedbackname{
	background-color:#ffffff;border:1px solid #b5b5b5;-moz-border-radius:5px;-webkit-border-radius:5px;width:642px; height:210px; float:left;
	}	