@charset "utf-8";
/* CSS Document */

.dyuebt{background-color:#d93122;border:1px solid #962015;-moz-border-radius:4px;-webkit-border-radius:4px; width:62px; height:25px;text-align:center; margin-left:5px;}
.dyuesearch{
	background-color:#FFF;border:1px solid #959191;-moz-border-radius:5px;-webkit-border-radius:5px;height:24px; width:114px;
	}
.circle {
  display:#bc0006;
  background: #bc0006;
  border-radius: 50%;
  height: 28px;
  width: 28px;
  margin: 0;
  background: -webkit-radial-gradient(8px 8px, circle, #bc0006, #000);
  background: -moz-radial-gradient(8px 8px, circle, #bc0006, #000);
  background: radial-gradient(8px 8px, circle, #bc0006, #000);
}	

