
 

h1,h2,h3,h4,h5,h6,ul,li,dl,dt,dd,form,img,p,label{margin:10; padding:0; border:none; list-style-type:none;}    

/**前台分页样式**/   

.Pagination {margin:0px 0 0;padding:5px 0;text-align:rightright; height:20px; line-height:20px; }    

.Pagination a {margin-left:2px;padding:2px 7px 2px;}    

.Pagination .dot{ border:medium none; padding:4px 8px}    

.Pagination a:link, .Pagination a:visited {border:1px solid #dedede;color:#696969;text-decoration:none;}    

.Pagination a:hover, .Pagination a:active, .Pagination a.current:link, .Pagination a.current:visited {border:1px solid #dedede;color:#fff; background-color:#ff6600; background-image:none; border:#ff6600 solid 1px;}    

.Pagination .selectBar{ border:#dedede solid 1px; font-size:12px; width:95px; height:21px; line-height:21px; margin-left:10px; display:inline}    

.Pagination a.tips{_padding:4px 7px 1px;}   