@charset "utf-8";
/* CSS Document */

div,ul,li{
margin:0 auto;
padding:0;
}


ul{
list-style:none;
}
.main{
clear:both;
padding:8px;
text-align:left;
margin-left:35px;
margin-right:35px;
}
/*第一种形式*/
#tabs0 {
height: 100%;
width: 1024px;


}
.menu0{
width:1024px;
}
.bbjj{
	width:1024px;
	height:39px;
/*background-image:url(images/servicebannerbt.jpg);*/
background-color:#997194;

	}
.menu0 li{
	margin-top:4px;
	margin-left:20px;
display:block;
float: left;
padding: 4px 0;
height:23px;
width:129px;
text-align: center;
cursor:pointer;

font-family:'微软雅黑';
font-size:16px;
color:#FFF;	


}
.menu0 li.hover{
/*background-image:url(images/serviceoverbg.jpg);*/
background-color:transparent;border:1px solid #eeeeee;-moz-border-radius:4px;-webkit-border-radius:4px;height:22px; width:127px; line-height:22px; text-align:center;
}
#main0 ul{
display: none;
}
#main0 ul.block{
display: block;
}



/*************************新版banner start***************************/
.pro-picSlides {position:relative; z-index:5; height:340px; }
.pro-picSlides .slidesMenu {position:absolute; top:244px; left:50%; margin-left:-485px; width:426px; z-index:5; color:#fff; border:solid 1px #4e3d4e; border-radius:5px; height:75px;}
.pro-picSlides .slidesMenu .flex-viewport {border-radius:6px;}
.pro-picSlides .slidesMenu .slides li {cursor:pointer; float:left; height:75px;  text-align:center; border-left:solid 1px #483b4c; line-height:75px; color:#ffffff;}
.pro-picSlides .slidesMenu .slides li:first-child {border-left:0;}
.pro-picSlides .slidesMenu .slides li:hover,.pro-picSlides .slidesMenu .flex-active-slide {background:#483b4c; color:#222222;}
.pro-picSlides .slidesMenu .flex-direction-nav {display:none;}
.pro-picSlides .slidesMenu .flex-direction-nav a {position:absolute; color:#fff; display:block; width:30px; height:30px; overflow:hidden; text-indent:-99999px; top:5px; background:url(images/arrowImg.png) no-repeat;}
.pro-picSlides .slidesMenu .flex-direction-nav .flex-prev {background-position:0 0; left:-30px;}
.pro-picSlides .slidesMenu .flex-direction-nav .flex-next {background-position:right 0; left:auto; right:-30px;}
.pro-picSlides .slidesCont { background:#4F6274;}
.pro-picSlides .slidesCont img {max-width:100%;}
.pro-picSlides .slidesCont li {position:relative; display:none; z-index:1;}
.pro-picSlides .slidesCont li:first-child {display:block;}
.pro-picSlides .slidesCont .slideImg {position:relative; z-index:2;}
.pro-picSlides .slidesCont .videoPlay { position:absolute; top:50%; left:50%; margin-top:-75px; margin-left:-75px; z-index:3;filter:alpha(opacity=80);  -moz-opacity:0.8;  -khtml-opacity: 0.8;  opacity: 0.8;}
.pro-picSlides .slidesCont .videoPlay:hover {filter:alpha(opacity=100);  -moz-opacity:1;  -khtml-opacity: 1;  opacity: 1;}
.pro-picSlides .slideInfo {position:absolute; bottom:0; left:10%; margin-left:-500px; padding:3% 0; z-index:6; color:#fff; text-align:center;}
.pro-picSlides .slideInfo .title-name {font-size:30px; font-weight:bold; line-height:1.2em; padding:0px 0;}
.pro-picSlides .slideInfo p {padding:0 10%; text-align:left;}
.pro-picSlides .slideInfo .slide-video { padding:10px 0;}
.pro-picSlides .slideInfo .slide-video a {display:inline-block; border:solid 4px #fff; width:130px; margin:1%; position:relative;}
.pro-picSlides .slideInfo .slide-video a span {display:block; width:34px; height:34px; overflow:hidden; text-indent:-99999px; background:url(images/video-play.png) no-repeat; position:absolute; top:20px; left:50%; margin:-17px 0 0 -17px; z-index:7;}
.pro-picSlides .slideInfo .slide-video a:hover { border:solid 4px #fa594b;}
.pro-picSlides .slidesCont li {height:340px; float:left;}
.pro-picSlides .slideInfo2 {padding:0px 0 0 0; color:#fff;}
.pro-picSlides .slideInfo2 .title-name {font-size:30px; font-weight:bold; line-height:1.2em; padding:10px 0;}
.pro-picSlides .slideInfo2 p {padding:0 60px; margin-top:8px;}
.pro-picSlides .slide-video2 {padding:20px 0; width:570px; height:65px; margin:0 auto; position:relative; z-index:2;}
.pro-picSlides-video .slide-img2 {padding:20px 0;}
@media (max-width: 979px) {
	.pro-picSlides .slidesMenu {width:80%; margin-left:-40%;}
	.pro-picSlides .slidesMenu .flex-direction-nav {display:block;}
	.pro-picSlides .slideInfo {margin-left:-375px;}
	.pro-picSlides .slideInfo p {padding:0;}
	.pro-picSlides-video .slideInfo2 p {padding:0;}
}
@media (max-width: 767px) {
	.pro-picSlides .slidesCont li {position:inherit;}
	.pro-picSlides .slideInfo {margin:0 auto; position:inherit;}
	.pro-picSlides .slidesCont .videoPlay {top:60%; margin-left:-65px; margin-top:-65px; width:130px;}
	.pro-picSlides-video .slideInfo2 {padding:100px 0 0 0;}
	.pro-picSlides-video .slide-video2 {width:auto;}
}
@media (max-width: 479px) {
	.pro-picSlides .slidesMenu {top:3%;}
	.pro-picSlides .slidesMenu .slides li {height:25px; padding:5px 5px 0 5px;}
	.pro-picSlides .slidesMenu .flex-direction-nav a {top:0;}
	.pro-picSlides .slidesCont img {max-width:120%;}
	.pro-picSlides .slideInfo .slide-video a {width:85px;}
	.pro-picSlides .slideInfo .slide-video img {max-width:100%;}
	.pro-picSlides .slidesCont .videoPlay {margin-left:-40px; margin-top:-40px; width:80px;}
	.pro-picSlides .slideInfo .title-name {padding:0 0 10px 0;}
	.pro-picSlides-video .slidesCont li {height:640px;}
	.pro-picSlides-video .slideInfo2 {padding:80px 0 0 0;}
	.pro-picSlides-video .slide-video2 {height:300px;}
	.pro-picSlides-video .slide-img2 img {max-width:100%;}
}
/*************************新版banner end***************************/
