@charset "utf-8";
/* CSS Document */

div,ul,li{
margin:0 auto;
padding:0;
}


ul{
list-style:none;
}
.main{
clear:both;
padding:8px;
text-align:left;
margin-left:35px;
margin-right:35px;
}
/*第一种形式*/
#tabs0 {
height: 100%;
width: 1024px;


}
.menu0{
width:1024px;
}
.bbjj{
	width:1024px;
	height:39px;
/*background-image:url(images/servicebannerbt.jpg);*/
background-color:#997194;

	}
.menu0 li{
	margin-top:4px;
	margin-left:20px;
display:block;
float: left;
padding: 4px 0;
height:23px;
width:129px;
text-align: center;
cursor:pointer;

font-family:'微软雅黑';
font-size:16px;
color:#FFF;	


}
.menu0 li.hover{
/*background-image:url(images/serviceoverbg.jpg);*/
background-color:transparent;border:1px solid #eeeeee;-moz-border-radius:4px;-webkit-border-radius:4px;height:22px; width:127px;line-height:22px; text-align:center;
}
#main0 ul{
display: none;
}
#main0 ul.block{
display: block;
}



.wenhao{
float:left;margin-top:0px;text-align:center; border:1px solid #468af0; background-color:transparent;-webkit-border-radius:4px;-moz-border-radius:4px;height:27px; width:27px; margin-left:0px; color:#468af0; font-weight:bold;
}
.shufuhao1{
  float:left; margin-left:4px;height:1px; width:18px;background-color:#468af0; margin-top:6px;
}
.shufuhao2{
  float:left; margin-left:4px;height:1px; width:15px;background-color:#468af0; margin-top:3px;
}
.shufuhao3{
  float:left; margin-left:4px;height:1px; width:18px;background-color:#468af0; margin-top:3px;
}
.shufuhao4{
  float:left; margin-left:4px;height:1px; width:13px;background-color:#468af0; margin-top:3px;
}
.bannersupport{
background:-moz-linear-gradient(top, #6c93ab, #997194);background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#6c93ab), to(#997194)); height:340px; width:1024px;}
.menusupport{
float:right;margin-top:0px;text-align:center; border:1px solid #ffffff; -webkit-border-radius:4px;-moz-border-radius:4px;height:36px; width:156px; margin-left:0px; color:#ffffff; margin-right:330px; margin-top:30px; background-color:transparent; color:#000;
	}
.menusupport  option{background-color:transparent;}	
.supportjianhaofu{
float:right;margin-right:135px; margin-top:7px;width:0;height:0;line-height:0;border-width:6px;border-style:solid;border-color:transparent transparent transparent #468af0;	
	}
.supportjianhaofu2{
	float:right;margin-right:210px; margin-top:7px;width:0;height:0;line-height:0;border-width:6px;border-style:solid;border-color:transparent transparent transparent #468af0;	
	}
.supportjianhaofubanner{
	float:right;margin-top:27px;width:0;height:0;line-height:0;border-width:7px;border-style:solid;border-color:transparent transparent transparent #468af0;
	
	}		