@charset "utf-8";
/* CSS Document */
div a{
	text-decoration:none;}
div a:hover{
	text-decoration:none;}	
div,ul,li{
margin:0 auto;
padding:0;
}


ul{
list-style:none;
}
.main{
clear:both;
padding:8px;
text-align:left;
margin-left:35px;
margin-right:35px;
}
/*第一种形式*/
#tabs0 {
height: 100%;
width: 1024px;


}
.menu0{
width:1024px;
}
.bbjj{
	width:1024px;
	height:39px;
/*background-image:url(images/servicebannerbt.jpg);*/
background-color:#997194;

	}
.menu0 li{
	margin-top:4px;
	margin-left:20px;
display:block;
float: left;
padding: 4px 0;
height:23px;
width:129px;
text-align: center;
cursor:pointer;

font-family:'微软雅黑';
font-size:16px;
color:#FFF;	


}
.menu0 li.hover{
/*background-image:url(images/serviceoverbg.jpg);*/
background-color:transparent;border:1px solid #eeeeee;-moz-border-radius:4px;-webkit-border-radius:4px;height:22px; width:127px; line-height:22px; text-align:center;
}
#main0 ul{
display: none;
}
#main0 ul.block{
display: block;

}

.bannerbj{
background: -moz-linear-gradient(top, #6b93ab, #857c9b);background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#6b93ab), to(#857c9b)); height:510px;padding-top:40px; padding-bottom:60px;
	}
.peoplezc{width:1024px; background-image:url(../users/images/registerbg.png); height:500px;}	
.peoplelogin{width:1024px; background-image:url(../users/images/loginbg.png); height:450px;}	
.zctable{
	float:left;margin-top:15px;text-align:center; border:1px solid #404655;-webkit-border-radius:8px; -moz-border-radius:8px;height:476px; width:326px; margin-left:5px;filter:alpha(Opacity=90);-moz-opacity:0.9;opacity: 0.9;-moz-linear-gradient(top, #364c58, #464251);background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#364c58), to(#464251));
	}	
.zctable h2{
	color:#ffffff; float:left; margin-left:37px; margin-top:15px; font-size:21px;
	}
.zctable h3{
	color:#ffffff; float:left; margin-left:37px; margin-top:10px; font-size:18px;
	}			
.xixian{
	height:1px; width:307px; background-color:#788187; float:left; margin-left:10px;
	}	
.zcname{
	background-color:transparent;border:1px solid #aaaaaa;-moz-border-radius:5px;-webkit-border-radius:5px;height:34px; width:118px; float:left; margin-left:37px;
	
	}
.zcname input{background-color:transparent;border:none; margin-left:0px;height:32px; width:118px;color:#adadad;}	
.zcemail{
	background-color:transparent;border:1px solid #aaaaaa;-moz-border-radius:5px;-webkit-border-radius:5px;height:34px; width:251px; float:left; margin-left:37px;
	
	}
.zcemail input{background-color:transparent;border:none; margin-left:0px; height:32px;color:#adadad; width:251px; }		
.zcepassword{
	background-color:transparent;border:1px solid #aaaaaa;-moz-border-radius:5px;-webkit-border-radius:5px;height:34px; width:251px; float:left; margin-left:37px;
	
	}
.zcepassword input{background-color:transparent;border:none; margin-left:0px; height:32px;width:251px;color:#adadad;}		
.zcbt{
	background-color:#1bb25a;border:1px solid #1bb25a;-moz-border-radius:4px;-webkit-border-radius:4px; width:220px; height:38px;text-align:center; margin-left:5px; line-height:38px; margin-top:25px; margin-left:52px;
	}
.zcbt input{border:0; background-color:transparent; color:#FFF;  font-size:20px; letter-spacing:10px;}

.zcg{float:left; margin-top:12px; margin-left:83px;} 
.zcg a{ color:#468af0; font-size:18px;}
.zcg a:hover{ text-decoration:none;}
.logintable{
	float:right;margin-top:15px;text-align:center; border:1px solid #404655;-webkit-border-radius:8px; -moz-border-radius:8px;height:380px; width:355px; margin-left:5px; margin-top:80px;filter:alpha(Opacity=90);-moz-opacity:0.9;opacity: 0.9;-moz-linear-gradient(top, #364c58, #464251);background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#364c58), to(#464251));
	}	
.logintable h2{
	color:#ffffff; float:left; margin-left:37px; margin-top:15px; font-size:21px;
	}
.logintable h3{
	color:#ffffff; float:left; margin-left:37px; margin-top:39px; font-size:15px;
	}
.logintable .xixian{
	height:1px; width:335px; background-color:#788187; float:left; margin-left:10px;
	}				
.loginemail{
	background-color:transparent;border:1px solid #aaaaaa;-moz-border-radius:8px;-webkit-border-radius:8px;height:53px; width:198px; float:left; margin-left:30px; margin-top:30px;
}
.loginemail input{
	background-color:transparent;border:none; margin-left:0px; height:51px;color:#adadad; width:198px;
	}
.loginpassword{
	background-color:transparent;border:1px solid #aaaaaa;-moz-border-radius:8px;-webkit-border-radius:8px;height:53px; width:198px; float:left; margin-left:45px;margin-top:25px;
	
	}
.loginpassword input{
	background-color:transparent;border:none; margin-left:0px; height:51px;width:198px;color:#adadad;
	}			
.loginbt{
	background-color:#4d8ef1;border:1px solid #4e92fb;-moz-border-radius:2px;-webkit-border-radius:2px; width:122px; height:38px;text-align:center; margin-left:5px; line-height:38px; margin-top:40px; margin-left:39px;
	}
.loginbt input{
	border:0; background-color:transparent; color:#FFF; font-size:20px; letter-spacing:10px; margin-left:10px; margin-top:4px;
	}		
.loginbtzc{
	float:right;margin-top:-40px;text-align:center; border:1px solid #24ba63; background-color:#1bb25a;-webkit-border-radius: 2px; -moz-border-radius:2px;height:38px; width:122px; margin-right:83px;
	}	
.loginbtzc a{
	color:#FFF; letter-spacing:10px; margin-left:10px; text-align:center; text-decoration:none;line-height:38px; font-size:20px;
	}
.loginbtzc a:hover{
	text-decoration:none;
	}		
.remember{margin-top:25px; float:left; margin-left:35px; color:#FFF;}	
.remember a{ color:#FFF;margin-left:150px;}
